/* This is where styles are defined for your page. */
/* One style is provided as example. */
html {
	font-family: sans-serif;
	background-color: blue;
	padding: 0cm 7cm;
}
h1 {
    font-style: italic;
}
small {
	font-style: normal;
}
.page-header h1 {
	margin-bottom: 0;  
}
.page-header p {
	margin-top:0;
}
.page-header small {
	font-size: small;
}
.page-header {
	border: solid 3px black;
	border-radius: 25px;
}

.poem, .info-links, .social-links {
	list-style-type: none;
}
.poem li {
	line-height: 1.5;
	font-family: serif;
}
aside.more-info img {
	width: 175px;
	heigt: auto;
}
body {
	background-image: url("images/sand.jpg"); 
}
.page-creits {
	background-color: blue;
	padding: 4cm;
}
aside {
	border: solid 3px;
	border-radius: 25px;
}
.poem {
	border: solid 3px;
	border-radius: 25px;
	-moz-columns: 50px 3;
	-webkit-columns: 50px 3;
	columns: 50px 3
}
li {
	list-style-type: none;
}